{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin-Page</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.3/components/logins/login-4/assets/css/login-4.css">
    <style>
        body {
            height: max-content;
            background-image: url('static/posapp/img/home-bg.jpg');
        }

        .main-section {
            padding: 10% 18% 0 18%;
        }

        .container {
            width: 50% !important;
        }

        #img-sec {
            width: 45% !important;
        }

        .login {
            font-size: 35px;
        }

        label {
            font-weight: 600;
            font-size: 15px;
        }

        #email,
        #password {
            height: 40px;
            font-size: 1.5rem;
        }

        #login-btn {
            height: 40px;
            font-size: 17px;
            font-weight: 600;
        }

        #link_tag {
            font-size: 14px;
        }

        p {
            font-size: 12px;
        }

        .form-group {
            display: flex;
            flex-direction: column;
        }

        .form-control {
            font-size: 23px !important;
            border-radius: 5px !important;
            border: 1px solid #c6c6c6 !important;
        }

        #login {
            font-size: 15px;
        }

        #login-here {
            font-size: 17px;
        }
        #login-here:hover {
            color: rgb(34, 111, 137) !important;
            text-shadow: 0 0 0.7px #2c4f7e
        }
    </style>
</head>

<body>
    <!-- Login 4 - Bootstrap Brain Component -->
    <section class="main-section">
        <div class="container">
            <div class="card border-light-subtle shadow-sm">
                <div>
                    <div class="card-body p-3 p-md-4 p-xl-5">
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-5">
                                    <h3 class="login">Forgot Your Password!</h3>
                                </div>
                            </div>
                        </div>
                        <form action="" method="post" id="contactForm" class="form" role="form">
                            {% csrf_token %}
                            {% if form.errors %}
                            <div class="alert alert-danger">{{form.errors}}</div>
                            {% endif %}
                            {% if msg %}
                            <div class="alert alert-success">{{msg}}</div>
                            {% endif %}
                            <div class="row gy-3 gy-md-4 overflow-hidden">
                                <div class="form-group">
                                    <label for="{{form.old_password.id_for_label}}"
                                        class="form-label">Old-Password</label>
                                    {{form.old_password}}
                                </div>
                                <div class="form-group">
                                    <label for="{{form.new_password1.id_for_label}}"
                                        class="form-label">New-Password</label>
                                    {{form.new_password1}}
                                </div>
                                <div class="form-group">
                                    <label for="{{form.new_password2.id_for_label}}"
                                        class="form-label">Confirm-Password</label>
                                    {{form.new_password2}}
                                </div>
                                <div class="col-12">
                                    <div class="d-grid">
                                        <button class="btn bsb-btn-xl btn-primary" id="login-btn" type="submit">Change
                                            Password</button>
                                    </div>
                                </div>
                            </div>
                            <p id="login" class="text-center text-muted mt-5 mb-0">Not Now? 
                                <a href="{% url 'signin' %}" id="login-here"
                                class="fw-bold text-body"><u>Login</u></a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>