{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tailwind POS</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'posapp/css/style.css' %}">
  <link rel="shortcut icon" href="{% static 'posapp/favicon.ico' %}" type="image/x-icon">
  <script src="https://unpkg.com/idb/build/iife/index-min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.2/dist/alpine.min.js"></script>
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  {% comment %}
  <link
    href="{% static 'https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' %}"
    rel="stylesheet">
  {% endcomment %}

  <script src="{% static 'posapp/js/script.js' %}"></script>
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link href="{% static 'posapp/cs/style.css' %}" rel="stylesheet" />
  <link href="{% static 'posapp/cs/responsive.css' %}" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="{% static 'posapp/cs/bootstrap.css' %}" />
  <style>
    .layout_padding {
      padding: 8px 0 !important;
    }

    .product_section .heading_container {
      margin-bottom: 1px !important;
    }

    .heading_container h2 {
      font-size: 2.2rem !important;
      font-weight: 100 !important;
    }

    .img-box {
      img {
        border-radius: 3% !important;
      }
    }

    .submit-btn {
      width: 100%;
      height: 59%;
      background-color: #0085e8;
      color: white;
      border-radius: 3%;
      font-weight: 500;
      font-size: 19px;
    }
  </style>
  <style>
    #home {
      cursor: pointer;
      font-size: 24px;
      color: white;
    }

    #sidebar {
      position: fixed;
      top: 400px;
      /* Adjust this value to position the sidebar below the "Home" text */
      left: 0;
      width: 100px;
      height: 100px;
      /* Adjust this value to match the top value above */
      background-color: white;
      color: #fff;
      padding: 20px;
      display: none;
      /* Initially hidden */
    }

    .my-svg {
      fill: white;
      /* Change 'red' to any color you want */
    }

    .shgg {
      visibility: hidden;
    }

    .tool:hover .shgg {
      visibility: visible;
    }

    #results-body {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 20px;
    }

    .box {
      background-color: #f0f0f0;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .box .img-box {
      text-align: center;
    }

    .box img {
      max-width: 100%;
      height: auto;
    }

    .detail-box {
      text-align: center;
    }

    /* Modal Styles */
    .modal {
      display: none;
      /* Hidden by default */
      position: fixed;
      /* Stay in place */
      z-index: 10;
      /* Sit on top */
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      /* Black w/ opacity */
      overflow: auto;
      /* Enable scroll if needed */
    }

    /* Modal Content Styles */
    .modal-content {
      background-color: #fefefe;
      margin: 20% auto;
      /* Center modal vertically and horizontally */
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
      max-width: 600px;
      /* Maximum width */
      border-radius: 8px;
    }

    /* Close Button Styles */
    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  </style>
</head>

<body class="bg-blue-gray-50" x-data="initApp()" x-init="initDatabase()">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  <!-- noprint-area -->
  <div class="hide-print flex flex-row h-screen antialiased text-blue-gray-800">
    <!-- left sidebar -->
    <div class="flex flex-row w-auto flex-shrink-0 pl-4 pr-2 py-4">
      <div class="flex flex-col items-center py-4 flex-shrink-0 w-20 bg-cyan-500 rounded-3xl">
        <a href="#" class="flex items-center justify-center h-12 w-12 bg-cyan-50 text-cyan-700 rounded-full">
          <img src="{% static 'posapp/favicon.ico' %}" alt="">
        </a>
        <ul class="flex flex-col space-y-2 mt-12">
          <style>
            .icon:hover {
              fill: lightblue;
              /* Change the color to green when mouse hovers over */
              transform: scale(1.2);
              /* Increase the size of the icon */
              transition: all 0.3s ease;
              /* Add a transition effect */
            }
          </style>

          <li>
            <a href="{% url 'home' %}" class="flex items-center" title="home">
              <span class="flex items-center justify-center h-12 w-12 rounded-2xl" x-bind:class="{
                  'hover:bg-cyan-400 text-cyan-100': activeMenu !== 'pos',
                  'bg-cyan-300 shadow-lg text-white': activeMenu === 'pos',
                }">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 icon" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M9 7h6m0 10v-3m-3 3h.01M9 17h.01M9 14h.01M12 14h.01M15 11h.01M12 11h.01M9 11h.01M7 21h10a2 2 0 002-2V5a2 2 0 00-2-2H7a2 2 0 00-2 2v14a2 2 0 002 2z" />
                </svg>
              </span>
            </a>
          </li>

          <li>
            <a href="#" class="flex items-center">
              <div></div>
              <span class="flex items-center justify-center text-cyan-100 hover:bg-cyan-400 h-12 w-12 rounded-2xl">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />
                </svg>
              </span>
            </a>
          </li>
          <li>
            <a href="{% url 'addprdt' %}" class="flex items-center" title="add products">
              <span class="flex items-center justify-center text-cyan-100 hover:bg-cyan-400 h-12 w-12 rounded-2xl">
                <svg class="h-6 w-6" fill="none" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                  <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                    d="M10.946 13.5a.5.5 0 1 1 0-1a.5.5 0 0 1 0 1m-6.5 0a.5.5 0 1 1 0-1a.5.5 0 0 1 0 1m5.158-7h-3m1.5-1.5v3M.5.5H3L3.263 3m0 0l.643 6.105A1 1 0 0 0 4.9 10h6.32a1 1 0 0 0 .97-.757l1.25-5A1 1 0 0 0 12.47 3z" />
                </svg>
              </span>
            </a>
          </li>
          <li>
            <a href="{% url 'edit_product' %}" class="flex items-center">
              <span class="flex items-center justify-center text-cyan-100 hover:bg-cyan-400 h-12 w-12 rounded-2xl">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10" />
                </svg>
              </span>
            </a>
          </li>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
          <span id="home"
            class="flex items-center justify-center text-cyan-100 hover:bg-cyan-400 h-12 w-12 rounded-2xl">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z">
              </path>
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
            </svg>
          </span>
          <div id="sidebar">
            <a style="color: black;" class="collapse-item" href="{% url 'signout' %}">signout</a>
            <a style="color: black;" class="collapse-item" href="{% url 'change_password' %}">password</a>
          </div>
          <li>
            <a href="{% url 'index' %}" class="flex items-center" title="dashboard">
              <span class="flex items-center justify-center text-cyan-100 hover:bg-cyan-400 h-12 w-12 rounded-2xl">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 15 15" style="width: 22px;">
                  <path fill="currentColor" fill-rule="evenodd"
                    d="M2.8 1h-.05c-.229 0-.426 0-.6.041A1.5 1.5 0 0 0 1.04 2.15c-.04.174-.04.37-.04.6v2.5c0 .229 0 .426.041.6A1.5 1.5 0 0 0 2.15 6.96c.174.04.37.04.6.04h2.5c.229 0 .426 0 .6-.041A1.5 1.5 0 0 0 6.96 5.85c.04-.174.04-.37.04-.6v-2.5c0-.229 0-.426-.041-.6A1.5 1.5 0 0 0 5.85 1.04C5.676 1 5.48 1 5.25 1H2.8Zm-.417 1.014c.043-.01.11-.014.417-.014h2.4c.308 0 .374.003.417.014a.5.5 0 0 1 .37.37c.01.042.013.108.013.416v2.4c0 .308-.003.374-.014.417a.5.5 0 0 1-.37.37C5.575 5.996 5.509 6 5.2 6H2.8c-.308 0-.374-.003-.417-.014a.5.5 0 0 1-.37-.37C2.004 5.575 2 5.509 2 5.2V2.8c0-.308.003-.374.014-.417a.5.5 0 0 1 .37-.37ZM9.8 1h-.05c-.229 0-.426 0-.6.041A1.5 1.5 0 0 0 8.04 2.15c-.04.174-.04.37-.04.6v2.5c0 .229 0 .426.041.6A1.5 1.5 0 0 0 9.15 6.96c.174.04.37.04.6.04h2.5c.229 0 .426 0 .6-.041a1.5 1.5 0 0 0 1.11-1.109c.04-.174.04-.37.04-.6v-2.5c0-.229 0-.426-.041-.6a1.5 1.5 0 0 0-1.109-1.11c-.174-.04-.37-.04-.6-.04H9.8Zm-.417 1.014c.043-.01.11-.014.417-.014h2.4c.308 0 .374.003.417.014a.5.5 0 0 1 .37.37c.01.042.013.108.013.416v2.4c0 .308-.004.374-.014.417a.5.5 0 0 1-.37.37c-.042.01-.108.013-.416.013H9.8c-.308 0-.374-.003-.417-.014a.5.5 0 0 1-.37-.37C9.004 5.575 9 5.509 9 5.2V2.8c0-.308.003-.374.014-.417a.5.5 0 0 1 .37-.37ZM2.75 8h2.5c.229 0 .426 0 .6.041A1.5 1.5 0 0 1 6.96 9.15c.04.174.04.37.04.6v2.5c0 .229 0 .426-.041.6a1.5 1.5 0 0 1-1.109 1.11c-.174.04-.37.04-.6.04h-2.5c-.229 0-.426 0-.6-.041a1.5 1.5 0 0 1-1.11-1.109c-.04-.174-.04-.37-.04-.6v-2.5c0-.229 0-.426.041-.6A1.5 1.5 0 0 1 2.15 8.04c.174-.04.37-.04.6-.04Zm.05 1c-.308 0-.374.003-.417.014a.5.5 0 0 0-.37.37C2.004 9.425 2 9.491 2 9.8v2.4c0 .308.003.374.014.417a.5.5 0 0 0 .37.37c.042.01.108.013.416.013h2.4c.308 0 .374-.004.417-.014a.5.5 0 0 0 .37-.37c.01-.042.013-.108.013-.416V9.8c0-.308-.003-.374-.014-.417a.5.5 0 0 0-.37-.37C5.575 9.004 5.509 9 5.2 9H2.8Zm7-1h-.05c-.229 0-.426 0-.6.041A1.5 1.5 0 0 0 8.04 9.15c-.04.174-.04.37-.04.6v2.5c0 .229 0 .426.041.6a1.5 1.5 0 0 0 1.109 1.11c.174.041.371.041.6.041h2.5c.229 0 .426 0 .6-.041a1.5 1.5 0 0 0 1.109-1.109c.041-.174.041-.371.041-.6V9.75c0-.229 0-.426-.041-.6a1.5 1.5 0 0 0-1.109-1.11c-.174-.04-.37-.04-.6-.04H9.8Zm-.417 1.014c.043-.01.11-.014.417-.014h2.4c.308 0 .374.003.417.014a.5.5 0 0 1 .37.37c.01.042.013.108.013.416v2.4c0 .308-.004.374-.014.417a.5.5 0 0 1-.37.37c-.042.01-.108.013-.416.013H9.8c-.308 0-.374-.004-.417-.014a.5.5 0 0 1-.37-.37C9.004 12.575 9 12.509 9 12.2V9.8c0-.308.003-.374.014-.417a.5.5 0 0 1 .37-.37Z"
                    clip-rule="evenodd" />
                </svg>
              </span>
            </a>
          </li>
        </ul>

        <a href="https://github.com/emsifa/tailwind-pos" target="_blank" title="Git"
          class="mt-auto flex items-center justify-center text-cyan-200 hover:text-cyan-100 h-10 w-10 focus:outline-none">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd"
              d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
              clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>

    <!-- page content -->
    <div class="flex-grow flex">
      <!-- store menu -->
      <form method="get">
        <div class="flex flex-col bg-blue-gray-50 h-full w-full py-4">
          <div class="flex px-2 flex-row relative">
            <div class="absolute left-5 top-3 px-2 py-2 rounded-full bg-cyan-500 text-white">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
              </svg>
            </div>
            <input id="search-input" type="text"
              class="bg-white rounded-3xl shadow text-lg full w-full h-16 py-4 pl-16 transition-shadow focus:shadow-2xl focus:outline-none"
              placeholder="Cari menu ..." x-model="keyword" />
          </div>
      </form>

      <!-- product section -->
      <section class="product_section layout_padding">
        <div class="heading_container heading_center">
          <h2>Our <span>products</span></h2>
        </div>
        <div class="container" id="results-body">
          {% if data %}
          {% for dt in data %}
          <div class="box">
            <div class="option_container">
              <div class="options">
                <a class="option1" href="{% url 'addtocart' dt.pk %}">Add To Cart</a>
              </div>
            </div>
            <div class="img-box">
              {% if dt.image %}
              <img src="{{ dt.image.url }}" alt="{{ dt.name }}">
              {% else %}
              <img src="{% static 'posapp/img/ice-tea.png' %}" alt="prd-image">
              {% endif %}
            </div>
            <div class="detail-box">
              <h5>{{ dt.name }}</h5>
              <h6>{{ dt.price }}</h6>
            </div>
          </div>
          {% endfor %}
          {% else %}
          <p>No products available.</p>
          {% endif %}
        </div>
        <div class="btn-box">
          <a href="#">View All products</a>
        </div>
      </section>

    </div>
  </div>

  <!-- end of store menu -->

  <!-- right sidebar -->
  <div class="w-5/12 flex flex-col bg-blue-gray-50 h-full bg-white pr-4 pl-2 py-4">
    <div class="bg-white rounded-3xl flex flex-col h-full shadow">

      <!-- cart items -->
      <div class="flex-1 flex flex-col overflow-auto">
        <div class="h-16 text-center flex justify-center">
          <div class="pl-8 text-left text-lg py-4 relative">
            <!-- cart icon -->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 inline-block" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
            </svg>
            <div x-show="getItemsCount() > 0"
              class="text-center absolute bg-cyan-500 text-white w-5 h-5 text-xs p-0 leading-5 rounded-full -right-2 top-3"
              x-text="getItemsCount()"></div>
          </div>
          <div class="flex-grow px-8 text-right text-lg py-4 relative">
            <!-- trash button -->
            <a href="{% url 'delete' %}" class="text-blue-gray-300 hover:text-pink-500 focus:outline-none">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline-block" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
              </svg>
            </a>
          </div>
        </div>
        <div class="flex-1 w-full px-4 overflow-auto">
          {% if cart %}
          {% for ca in cart %}
          <div id="product-{{ ca.product.id }}"
            class="select-none mb-3 bg-blue-gray-50 rounded-lg w-full text-blue-gray-700 py-2 px-2 flex justify-center">
            <div id="price-{{ ca.product.id }}" style="display: none;">{{ ca.product.price }}</div>
            {% if ca.product.image %}
            <img src="{{ ca.product.image.url }}" class="rounded-lg h-10 w-10 bg-white shadow mr-2"
              alt="{{ ca.product.name }}">
            {% else %}
            <img src="{% static 'posapp/img/sandwich.png' %}" class="rounded-lg h-10 w-10 bg-white shadow mr-2">
            {% endif %}
            <div class="flex-grow">
              <h5 style="font-size: 17px;">{{ ca.product.name }}</h5>
              <p style="font-size: 17px;">{{ ca.product.price }}</p>
            </div>
            <div class="py-1">
              <div class="w-28 grid grid-cols-3 gap-2 ml-2">
                <button class="subtract-btn" data-product-id="{{ ca.product.id }}">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-3 inline-block" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 12H4" />
                  </svg>
                </button>
                <input type="text"
                  class="bg-white rounded-lg text-center shadow focus:outline-none focus:shadow-lg text-sm quantity-input"
                  id="quantity-{{ ca.product.id }}" value="{{ ca.quantity }}" readonly>
                <button class="add-btn" data-product-id="{{ ca.product.id }}">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-3 inline-block" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                  </svg>
                </button>
              </div>
            </div>
          </div>
          {% endfor %}
          {% endif %}
        </div>
      </div>
      <!-- end of cart items -->
      <!-- payment info -->
      <div class="select-none h-auto w-full text-center pt-3 pb-4 px-4">
        <div class="flex mb-3 text-lg font-semibold text-blue-gray-700">
          <div>TOTAL</div>
          <div id="total-price" class="text-right w-full"></div>
        </div>
        {% comment %} <button class="submit-btn" x-on:click="showModalReceipt" id="button">
          SUBMIT
        </button> {% endcomment %}
        <button class="submit-btn" id="button">
          SUBMIT
        </button>
      </div>
      <!-- end of payment info -->
    </div>
  </div>
  <!-- end of right sidebar -->
  </div>
  <!-- modal receipt -->
  {% comment %} <div x-data="modal" style="display: none;" id="modal-receipt"
    class="fixed w-full h-screen left-0 top-0 z-10 flex flex-wrap justify-center content-center p-24">
    <div x-show="isShowModalReceipt" class="fixed glass w-full h-screen left-0 top-0 z-0" x-on:click="closeModalReceipt"
      x-transition:enter="transition ease-out duration-100" x-transition:enter-start="opacity-0"
      x-transition:enter-end="opacity-100" x-transition:leave="transition ease-in duration-100"
      x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0"></div>
    <div x-show="isShowModalReceipt" class="w-96 rounded-3xl bg-white shadow-xl overflow-hidden z-10"
      x-transition:enter="transition ease-out duration-100" x-transition:enter-start="opacity-0 transform scale-90"
      x-transition:enter-end="opacity-100 transform scale-100" x-transition:leave="transition ease-in duration-100"
      x-transition:leave-start="opacity-100 transform scale-100" x-transition:leave-end="opacity-0 transform scale-90">
      <div id="receipt-content" class="text-left w-full text-sm p-6 overflow-auto">
        <div class="text-center">
          <img src="{% static 'posapp/img/receipt-logo.png' %}" alt="Tailwind POS" class="mb-3 w-8 h-8 inline-block">
          <h2 class="text-xl font-semibold">TAILWIND POS</h2>
          <p>CABANG KONOHA SELATAN</p>
        </div>
        <div class="flex mt-4 text-xs">
          <div class="flex-grow">No: <span x-text="receiptNo"></span></div>
          <div x-text="receiptDate"></div>
        </div>
        <hr class="my-2">
        <div>
          <table class="w-full text-xs">
            <thead>
              <tr>
                <th class="py-1 w-1/12 text-center">#</th>
                <th class="py-1 text-left">Item</th>
                <th class="py-1 w-2/12 text-center">Qty</th>
                <th class="py-1 w-3/12 text-right">Subtotal</th>
              </tr>
            </thead>
            <tbody>
              <template x-for="(item, index) in cart" :key="item">
                <tr>
                  <td class="py-2 text-center" x-text="index+1"></td>
                  <td class="py-2 text-left">
                    <span x-text="item.name"></span>
                    <br />
                    <small x-text="priceFormat(item.price)"></small>
                  </td>
                  <td class="py-2 text-center" x-text="item.qty"></td>
                  <td class="py-2 text-right" x-text="priceFormat(item.qty * item.price)"></td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
        <hr class="my-2">
        <div>
          <div class="flex font-semibold">
            <div class="flex-grow">TOTAL</div>
            <div x-text="priceFormat(getTotalPrice())"></div>
          </div>
          <div class="flex text-xs font-semibold">
            <div class="flex-grow">PAY AMOUNT</div>
            <div x-text="priceFormat(cash)"></div>
          </div>
          <hr class="my-2">
          <div class="flex text-xs font-semibold">
            <div class="flex-grow">CHANGE</div>
            <div x-text="priceFormat(change)"></div>
          </div>
        </div>
      </div>
      <div class="p-4 w-full">
        <button class="bg-cyan-500 text-white text-lg px-4 py-3 rounded-2xl w-full focus:outline-none"
          x-on:click="printAndProceed()">PROCEED</button>
      </div>
    </div>
  </div>
  </div> {% endcomment %}
  <div id="modal-receipt" class="modal">
    <div class="modal-content">
      <!-- Receipt Content -->
      <div id="receipt-content" class="text-left w-full text-sm p-6 overflow-auto">
        <div id="receipt-content" class="text-left w-full text-sm p-6 overflow-auto">
          <div class="text-center">
            <img src="{% static 'posapp/img/receipt-logo.png' %}" alt="Tailwind POS" class="mb-3 w-8 h-8 inline-block">
            <h2 class="text-xl font-semibold">TAILWIND POS</h2>
            <p>CABANG KONOHA SELATAN</p>
          </div>
          <div class="flex mt-4 text-xs">
            <div class="flex-grow">No: <span x-text="receiptNo"></span></div>
            <div x-text="receiptDate"></div>
          </div>
          <hr class="my-2">
          <div>
            <table class="w-full text-xs">
              <thead>
                {% if cart %}
                {% for ca in cart %}
                <tr>
                  <th class="py-1 w-1/12 text-center">#</th>
                  <th class="py-1 text-left">Item:{{ ca.product.name }}</th>
                  <th class="py-1 text-left">Price:{{ ca.product.price }}</th>
                  <th class="py-1 w-2/12 text-center">Qty:{{ ca.quantity }}</th>
                  <th class="py-1 w-3/12 text-right">Subtotal:{{ ca.subtotal }}</th>
                </tr>
                {% endfor %}
                {% endif %}
              </thead>
              <tbody>
                <template x-for="(item, index) in cart" :key="item">
                  <tr>
                    <td class="py-2 text-center" x-text="index+1"></td>
                    <td class="py-2 text-left">
                      <span x-text="item.name"></span>
                      <br />
                      <small x-text="priceFormat(item.price)"></small>
                    </td>
                    <td class="py-2 text-center" x-text="item.qty"></td>
                    <td class="py-2 text-right" x-text="priceFormat(item.qty * item.price)"></td>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>
          <hr class="my-2">
          <div>
            <div class="flex font-semibold">
              <div class="flex-grow">TOTAL</div>
              <div><span id="total-price-span"></span></div>
            </div>

            {% comment %} <div class="flex text-xs font-semibold">
              <div class="flex-grow">PAY AMOUNT</div>
              <div x-text="priceFormat(cash)"></div>
            </div> {% endcomment %}
            <hr class="my-2">
            {% comment %} <div class="flex text-xs font-semibold">
              <div class="flex-grow">CHANGE</div>
              <div x-text="priceFormat(change)"></div>
            </div> {% endcomment %}
          </div>
        </div>
        <!-- Your receipt content goes here -->
      </div>
      <!-- Proceed Button -->
      <div class="p-4 w-full">
        <button class="bg-cyan-500 text-white text-lg px-4 py-3 rounded-2xl w-full focus:outline-none" id="proceed-btn">
          PROCEED
        </button>
      </div>
      <div class="p-4 w-full">
        <button class="bg-cyan-500 text-white text-lg px-4 py-3 rounded-2xl w-full focus:outline-none" id="close-btn">
          CLOSE
        </button>
      </div>
    </div>
  </div>
  <!-- end of noprint-area -->
  <div id="print-area" class="print-area"></div>

  <!-- <script src="{% static 'posapp/js/script.js' %}"></script> -->
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const subtractButtons = document.querySelectorAll(".subtract-btn");
      const addButtons = document.querySelectorAll(".add-btn");
      const totalPriceElement = document.getElementById("total-price"); // Element to display total price

      let cart = {}; // Initialize an empty cart

      // Function to update the total price based on the current cart items
      function updateTotalPrice() {
        let totalPrice = 0;
        for (const productId in cart) {
          const product = cart[productId];
          totalPrice += product.price * product.quantity;
        }
        totalPriceElement.textContent = `$${totalPrice.toFixed(2)}`;
      }
      // Function to add a product to the cart
      function addToCart(productId, quantity) {
        const productPrice = parseFloat(document.getElementById(`price-${productId}`).innerText);
        cart[productId] = { price: productPrice, quantity: quantity };
        console.log("Product added to cart:", productId, "Quantity:", quantity); // Debug console log
        updateTotalPrice(); // Update total price after adding product to cart
      }
      // Iterate over existing products in the cart and update the total price
      document.querySelectorAll(".product").forEach(product => {
        const productId = product.getAttribute("data-product-id");
        const quantityInput = document.getElementById(`quantity-${productId}`);
        const quantity = parseInt(quantityInput.value);
        if (quantity > 0) {
          const productPrice = parseFloat(document.getElementById(`price-${productId}`).innerText);
          cart[productId] = { price: productPrice, quantity: quantity };
          updateTotalPrice(); // Update total price when a product is found in the cart
        }
      });
      // Event listeners for subtract buttons
      subtractButtons.forEach(button => {
        button.addEventListener("click", function () {
          const productId = this.getAttribute("data-product-id");
          const quantityInput = document.getElementById(`quantity-${productId}`);
          let quantity = parseInt(quantityInput.value);
          if (quantity > 1) {
            quantity--;
            quantityInput.value = quantity;
            updateCart(productId, quantity);
          } else {
            quantityInput.value = 0;
            removeProductFromCart(productId);
          }
          updateTotalPrice(); // Update total price after quantity change
        });
      });
      // Event listeners for add buttons
      addButtons.forEach(button => {
        button.addEventListener("click", function () {
          const productId = this.getAttribute("data-product-id");
          const quantityInput = document.getElementById(`quantity-${productId}`);
          let quantity = parseInt(quantityInput.value);
          quantity++;
          quantityInput.value = quantity;
          addToCart(productId, quantity);
          updateTotalPrice(); // Update total price after quantity change
        });
      });
      function removeProductFromCart(productId) {
        const productElement = document.getElementById(`product-${productId}`);
        productElement.parentNode.removeChild(productElement);
        updateTotalPrice();
      }
      // Function to update the quantity of a product in the cart
      function updateCart(productId, quantity) {
        cart[productId].quantity = quantity;
        if (quantity === 0) {
          removeProductFromCart(productId);
        }
      }
      // Initial update of total price
      updateTotalPrice();
    });
  </script>
</body>

</html>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Get the submit button, modal receipt, and total price element
    var submitButton = document.getElementById('button');
    var modalReceipt = document.getElementById('modal-receipt');
    var totalPriceElement = document.getElementById('total-price'); // Assuming you have a total price element

    // Add event listener to the submit button
    submitButton.addEventListener('click', function () {
      // Show the modal receipt by setting its display style to 'block'
      modalReceipt.style.display = 'block';

      // Update the receipt content with the total price
      var totalPriceSpan = document.getElementById('total-price-span');
      totalPriceSpan.textContent = totalPriceElement.textContent;
    });

    // Get the proceed button and close modal receipt when clicked
    var proceedButton = document.getElementById('proceed-btn');
    proceedButton.addEventListener('click', function () {
      // Hide the modal receipt
      modalReceipt.style.display = 'none';

      // Print the modal receipt content
      printReceipt();
    });

    // Function to print the receipt
    function printReceipt() {
      // Assuming your receipt content is in a specific element with an ID
      var receiptContent = document.getElementById('receipt-content');

      // Create a new window for printing
      var printWindow = window.open('', '_blank');

      // Write the receipt content into the new window
      printWindow.document.write(receiptContent.innerHTML);

      // Close the document after writing content
      printWindow.document.close();

      // Print the content
      printWindow.print();
    }

    // Close the modal receipt when the close button is clicked
    var closeButton = document.getElementById('close-btn');
    closeButton.addEventListener('click', function () {
      modalReceipt.style.display = 'none';
    });
  });
</script>
<script>
  $(document).ready(function() {
      $('#home').click(function() {
        $('#sidebar').slideToggle('slow');
      });
    });
</script>