{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register-Page</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.3/components/logins/login-4/assets/css/login-4.css">
    <style>
        #signup {
            font-size: 28px;
        }

        .fas,
        .fa-solid {
            font-size: 20px;
        }

        label {
            font-size: 14px;
        }

        #labels {
            display: flex;
            flex-direction: column;
        }

        button {
            width: 100%;
            height: 46px;
            font-size: 20px !important;
            font-weight: 500 !important;
        }

        #register {
            padding-left: 9% !important;
        }

        #login {
            font-size: 15px;
            font-style: oblique;
        }

        #login-here {
            font-size: 17px;
            font-style: oblique;
            text-decoration: none !important;
        }

        #login-here:hover {
            color: rgb(34, 111, 137) !important;
            text-shadow: 0 0 0.7px #2c4f7e
        }

        img {
            margin-top: -9%;
            border-radius: 1%;
            height: 91% !important;
        }
        u {
            text-decoration: none !important;
        }
    </style>
</head>

<body>
    <section class="vh-100" style="background-color: #eee;">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12 col-xl-11">
                    <div class="card text-black" style="border-radius: 25px;">
                        <div class="card-body p-md-5">
                            <div class="row justify-content-center">
                                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                    <p id="signup" class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                                    <form class="mx-1 mx-md-4" action="" method="post" id="contactForm" role="form">
                                        {% csrf_token %}
                                        {% if form.errors %}
                                        <div class="alert alert-danger">{{form.errors}}</div>
                                        {% endif %}
                                        {% if msg %}
                                        <div class="alert alert-success">{{msg}}</div>
                                        {% endif %}

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fa-solid fa-face-smile"></i>
                                            <!-- <i class="fa fa-sharp fa-solid fa-circle-user"></i> -->
                                            <!-- <i class="fa fa-regular fa-circle-user"></i> -->
                                            <i class="fa fas fa-user fa-lg me-3 fa-fw"></i>
                                            <div id="labels" class="form-outline flex-fill mb-0">
                                                <label class="form-label" for="{{form.username.id_for_label}}">User
                                                    Name</label>
                                                {{form.username}}
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fa fas fa-user fa-lg me-3 fa-fw"></i>
                                            <div id="labels" class="form-outline flex-fill mb-0">
                                                <label class="form-label" for="{{form.first_name.id_for_label}}">Your
                                                    Name</label>
                                                {{form.first_name}}
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fa fas fa-envelope fa-lg me-3 fa-fw"></i>
                                            <div id="labels" class="form-outline flex-fill mb-0">
                                                <label class="form-label" for="{{form.email.id_for_label}}">Your
                                                    Email</label>
                                                {{form.email}}
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fa fa-sharp fa-solid fa-phone fa-lg me-3 fa-fw"></i>
                                            <div id="labels" class="form-outline flex-fill mb-0">
                                                <label class="form-label" for="{{form.phone.id_for_label}}">Your
                                                    Phone</label>
                                                {{form.phone}}
                                            </div>
                                        </div>
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fa fas fa-user fa-lg me-3 fa-fw"></i>
                                            <div id="labels" class="form-outline flex-fill mb-0">
                                                <label class="form-label" for="{{form.role.id_for_label}}">Your
                                                    Role</label>
                                                {{form.role}}
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fa fas fa-lock fa-lg me-3 fa-fw"></i>
                                            <div id="labels" class="form-outline flex-fill mb-0">
                                                <label class="form-label"
                                                    for="{{form.password1.id_for_label}}">Password</label>
                                                {{form.password1}}
                                            </div>
                                        </div>

                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <i class="fa fas fa-key fa-lg me-3 fa-fw"></i>
                                            <div id="labels" class="form-outline flex-fill mb-0">
                                                <label class="form-label"
                                                    for="{{form.password2.id_for_label}}">Password</label>
                                                {{form.password2}}
                                            </div>
                                        </div>

                                        <div class="d-flex justify-content-center mb-lg-4" id="register">
                                            <button type="submit" class="btn btn-primary btn-lg">Register</button>
                                        </div>
                                        <p id="login" class="text-center text-muted mt-5 mb-0">Have already an account? 
                                            <a href="{% url 'signin' %}" id="login-here"
                                            class="text-body"><u>Login here</u></a></p>
                                    </form>
                                </div>
                                <div id="img"
                                    class=" col-xl-7 d-flex align-items-center order-1 order-lg-2">
                                    <img src="{% static 'posapp/img/register-cover.avif' %}" class="img-fluid"
                                        alt="Sample image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>